body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-home {
  box-shadow: 1px 2px 5px #000000;   
}
.categories {
  font-weight: bolder;
  text-decoration: none;    
  color: #a8a8ee;  
}
.categories:hover { 
  font-weight: bolder;   
  color: rgb(32, 88, 194);  
  transition: 0.5s ease;
}
.navsection {
  box-shadow: 1px 2px 5px #000000;  
}
.likes {
  color: aliceblue;
  background-color: rgb(34, 116, 209);
  border-radius: 3px;
  border: 1px solid  rgb(32, 112, 202);
  box-shadow: 1px 2px 5px #000000;
}

